modules = ["python-base-3.13"]
[nix]
channel = "stable-25_05"
packages = ["cairo", "cargo", "chromedriver", "comma", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "lcms2", "libcxx", "libiconv", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "openssl", "pkg-config", "qhull", "rustc", "tcl", "tk", "unzip", "zlib"]

[[ports]]
localPort = 8080
externalPort = 80
